.btn{  
  text-align: center;  
  width: 239px;  
  height: 50px;  
  padding-top: 10px;  
  }  

  .todos {
    padding-left: 56px;
  }

  /* .btn1{  
    text-align: left;  
    width: 239px;  
    height: 50px;  
    padding-top: 10px;  
    }   */